.summaryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryAnswer {
  color: rgb(51, 255, 0);
}