.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.inputModal {
  width: 65%;
  height: 65%;
  background-image: linear-gradient(to bottom right, #3F3DAF, #F4CF97);
  position: absolute;
  margin: auto;
  padding: 1rem 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  overflow: auto;
}

.inputModal > button {
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

.modalFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.addAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  font-size: 40px;
  padding: 0 1rem;
  cursor: default;
}

.addAnswer:hover {
  transform: scale(1.1);
}