h3 {
  text-align: center;
}

input {
  padding: 0.6rem;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #000;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  outline: none;
}

button {
  color: #fff;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 400;
}

.app {
  width: 100vw;
  min-height: 100vh;
  /* remove? */
  background-color: #282c34;
  background-image: linear-gradient(to bottom right, #3f3daf, #f4cf97);
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.pagePanels {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftSidebar {
  /* flex: 0.5 0 auto; */
  width: 25%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  gap: 1rem;
}

.logo {
  font-size: 48px;
}

.rightSideBar {
  align-self: flex-end;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.buttonBorder {
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #ffffff, #000000);
  border-image-slice: 1;
}

/* Remove arrows from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b0b0;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .app {
    padding: 0 1rem;
  }

  .pagePanels {
    flex-direction: column;
  }

  .leftSidebar {
    align-self: center;
    width: 100%;
    align-items: center;
  }
}
